@charset "utf-8" ;

/* 초기화 */
* {margin: 0; padding: 0; }
body { font-family: 'Helvetica',sans-serif; }
li { list-style: none; }
a { text-decoration: none; }


/* 메인 */
#conteiner {
    width: 960px;
    margin: 0 auto;
}

header {
    background: gray;
}

nav {
    height: 100px;
}

section {
    overflow: hidden;
}


@media screen and (max-width: 767px) {
    section > article {
        float: none;
        width: 100%;
    }
    section > article:nth-child(1) {
        background: green;
        height: 500px;
    }
    section > article:nth-child(2) {
        background: purple;
        height: 500px;
    }
    footer {
        height: 100px;
        background: red;
    }
}



@media screen and (min-width: 768px) and (max-width: 959px) {
    section > article {
        float: left;
    }
    section > article:nth-child(1) {
        background: green;
        height: 900px;
        width: 300px;
    }
    section > article:nth-child(2) {
        background: purple;
        height: 900px;
        width: 660px;
    }
    footer {
        height: 100px;
        background: red;
    }
}



@media screen and (min-width: 960px) {
    section > article {
        float: left;
    }
    section > article:nth-child(1) {
        background: green;
        height: 900px;
        width: 300px;
    }
    section > article:nth-child(2) {
        background: purple;
        height: 900px;
        width: 660px;
    }
    footer {
        height: 100px;
        background: red;
    }
}
