@charset "UTF-8";

/* 초기화 */
* {margin: 0; padding: 0; }
body { 
    font-family: 'Helvetica',sans-serif; 
}
li { list-style: none; }
a { text-decoration: none; }


/* 헤더 */
#main_header {
    position: relative;
    width: 100%;
    height: 36px;
    background: #222;
    overflow: hidden;
}
#wrap_nav {
    width: 1160px;
    height: 30px;
    margin: 0 auto;
    padding: 6px 0 0 20px;
    overflow: hidden;
}
#main_header > #wrap_nav > ul > li {
    float: left;
    margin: 0 14px 0 0;
    line-height: 20px;
}
#main_header > #wrap_nav > ul > li > a {
    display: inline-block;
    font-size: 12px;
    color: #bbb;
    letter-spacing: 0px;
}

/* 메인메뉴 */

#main_gnb {
    width: 1160px;
    height: 86px;
    margin: 0 auto;
    padding: 6px 0 0 20px;
    overflow: hidden;
}
#main_gnb > #title {
    float: left;
    margin: 0 14px 0 0;
    line-height: 20px;
}
#main_gnb > #title > h1 {
    display: inline-block;
    font-size: 36px;
    color: #bbb;
    letter-spacing: 0px;
}

#main_gnb > #main_lnb {
    overflow: hidden;
    margin: 0 14px 0 0;
    line-height: 20px;
}

#main_gnb > #main_lnb > li {
    float: right;
    padding-left: 20px;
    margin-top: 1px;
}

#main_gnb > #main_lnb > li > a {
    display: inline-block;
    font-size: 24px;
    color: #bbb;
    letter-spacing: 0px;
}

#select_leg {
    margin-right: 0px;
}

#select_leg {
    float: right;
}
